.home-container{
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 0rem 3rem;
    .home-image{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: right;
        position: relative;
        padding: 3rem 0;
        img{
            position: absolute;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit:cover;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: right;
            text-align: right;
            z-index: 999;
        }
        .home-text-carton{
            width: 60%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: right;
            .pencil{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 right: 44px;
            }
            .parents{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 left: 300px;
            }
            .hand{
                position: absolute;
                 width: 100px;
                 height: 100px;
                 right: 190px;
                 bottom: 230px;
            }
            .valentine{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 200px;
                top: 80px;
            }
            .notbook{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 40px;
                bottom: 60px;
            }
            .bike{
                position: absolute;
                width: 160px;
                height: 160;
                left: 100px;
                bottom: 120px;   
            }
            .smiley{
                position: absolute;
                width: 80px;
                height: 80px;
                right: 100px;
                top: 70px; 
            }
            .brid{
                position: absolute;
                width: 80px;
                height: 80px;
                right: 300px;
                top: 50px; 
            }
        }
        .home-text{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: left;
            .home-text-text{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                z-index: 999;
                .p-one{
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: #002147;
                }
                .p-two{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    span{
                        font-weight: 800;
                        color: #fdc800;
                    }
                }
                .p-three{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    span{
                        font-weight: 800;
                        color: #002147;
                    }
                }
                .p-four{
                    font-size: 5rem;
                    font-weight: 100;
                    color: #002147;
                    
                }
                .p-five{
                    font-size: 5rem;
                    font-weight: 800;
                    color: #fdc800;
                    span{
                        color: #002147;
                    }
                }
                .btn{
                    display: flex;
                    align-items: center;
                    padding-left: 15rem;
                    button{
                        padding: 1.7rem 6rem;
                        font-size: 2rem;
                        background: #00043b;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .home-bottom{
    margin: 0;
    padding: 0;
        width: 100%;
        height: 200px;
        background: #002147;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .home-bottom-img{
            height: 100%;
            width: 300px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .home-bottom-txt{
            display: flex;
            flex-direction: column;
            h2{
                font-size: 2rem;
                font-weight: 900;
                color:#fff;
                span{
                    color: #fdc800;
                }
            }
            p{
                font-size: 1.6rem;
                font-weight: 200;
                color: #fff;
            }
        }
        .home-bottom-date{
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            p{
                font-size: 2rem;
                color: #fff;
            }
            .days{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h1{
                    color: #fff;
                    font-size: 4rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
            .hours{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h1{
                    color: #fff;
                    font-size: 4rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
            .minutes{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h1{
                    color: #fff;
                    font-size: 4rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
            .seconds{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                h1{
                    color: #fff;
                    font-size: 4rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
        }
    }
}